[submodule "informal-but-limited-dungeon-crawler-jam-assets-2025"]
	path = informal-but-limited-dungeon-crawler-jam-assets-2025
	url = https://github.com/local-minimum/informal-but-limited-dungeon-crawler-jam-assets-2025.git
